<h1>로또 번호를 출력해줍니다.</h1>

<div style="display: flex">
    <div style="flex:1">
        <p> 첫 번째 번호 : {{ first }} </p>
        <p> 두 번째 번호 : {{ second }} </p>
        <p> 세 번째 번호 : {{ third }} </p>
        <p> 네 번째 번호 : {{ fourth }} </p>
        <p> 다섯 번째 번호 : {{ fifth }} </p>
        <p> 여섯 번째 번호 : {{ sixth }} </p>
        <p> 보너스 번호 : {{ bonus }} </p>
    </div>

    <div style="flex:1">
        <p> 첫 번째 번호 : {{ lotto.0 }} </p>
        <p> 두 번째 번호 : {{ lotto.1 }} </p>
        <p> 세 번째 번호 : {{ lotto.2 }} </p>
        <p> 네 번째 번호 : {{ lotto.3 }} </p>
        <p> 다섯 번째 번호 : {{ lotto.4 }} </p>
        <p> 여섯 번째 번호 : {{ lotto.5 }} </p>
        <p> 보너스 번호 : {{ lotto.6 }} </p>
    </div>
</div>
