{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static './css/main.css' %}">
        <title>STATIC & MEDIA</title>
    </head>
    <body>
        <h1> Static & Media </h1>

        {% for blog in blogs %}
            <div id="blog">
                {% if blog.image.url is not None %}
                <img src="{{ blog.image.url }}" alt="" width="500px">
                {% endif %}

                <h2> {{ blog.title }} </h2>
                <p> {{ blog.body }} </p>
                <p> {{ blog.time }} </p>
            </div>
        {% endfor %}
    </body>
</html>
