<head>
    <style>
        input {
            height: 40px;
            width: 200px;
        }
    </style>
</head>

<h1> 새로운 학생 정보를 저장하는 페이지 입니다. </h1>

<a href="{% url 'index' %}">홈으로</a>
<br>
<br>

<form action="{% url 'create' %}">
    <input type="text" placeholder="이름" name="name">
    <br>

    <input type="text" placeholder="학과" name="department">
    <br>

    <input type="text" placeholder="입학년도" name="admission_year">
    <br>

    <input type="text" placeholder="학번" name="student_number">
    <br>

    <input type="text" placeholder="학년" name="level">
    <br>
    
    <input type="text" placeholder="평균 학점" name="grade_avg">
    <br>
    <br>

    <input type="submit" value="저장하기">
</form>
