{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>현재 시간은?</title>

    <link rel="stylesheet" href="{% static './css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">

    <script>
        function clock() {
            var currentDate = new Date();
            var check = "오전";
            var month = addZeros(currentDate.getMonth() + 1, 2);
            var day = addZeros(currentDate.getDate(), 2);
            var hour = addZeros(currentDate.getHours(), 2);
            var minute = addZeros(currentDate.getMinutes(), 2);
            var second = addZeros(currentDate.getSeconds(), 2);

            var weekday = {
                0: "월",
                1: "화",
                2: "수",
                3: "목",
                4: "금",
                5: "토",
                6: "일",
            }

            if (hour >= 12) {
                check = "오후";
                hour = addZeros(hour - 12, 2);
            }

            if (second >= 50) {
                second = '<span style="color:#de1951;">' + second + '</span>'
            }

            document.getElementById("check").innerHTML = check;
            document.getElementById("month").innerHTML = month;
            document.getElementById("day").innerHTML = day;
            document.getElementById("weekday").innerHTML = weekday["{{ weekday }}"];
            document.getElementById("hour").innerHTML = hour;
            document.getElementById("minute").innerHTML = minute;
            document.getElementById("second").innerHTML = second;

            setTimeout("clock()", 1000);
        }

        function addZeros(num, digit) {
            var zero = '';
            num = num.toString();

            if (num.length < digit) {
                for (i = 0; i < digit - num.length; i++) {
                    zero += '0';
                }
            }

            return zero + num;
        }
    </script>
</head>

<body onload="clock()">
    <div id="wrapper">
        <div id="content">
            <p>현재 시각은</p>

            <p>
                <strong id="month"> {{ month }} </strong> 월
                <strong id="day"> {{ day }} </strong> 일
                <strong id="weekday"> {{ weekday }} </strong>요일
            </p>

            <p>
                <span id="check">
                    {% if check %}
                    오후
                    {% else %}
                    오전
                    {% endif %}
                </span>

                <strong id="hour"> {{ hour }} </strong> 시
                <strong id="minute"> {{ minute }} </strong> 분
                <strong id="second"> {{ second }} </strong> 초
                입니다.
            </p>
        </div>
    </div>
</body>

</html>
